@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="login-container">
        <h2>Student Sign in</h2>
        <p>Log in by entering your student email address and password.</p>
        <form action="/submit-your-login-form" method="POST">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email" required placeholder="email@address.com">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Log In</button>
        </form>
        <div class="forgot-password">
            <a href="/js/site.js">Forgot password?</a>
            <div class="checkbox">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
        
            <p>Or</p>
            
        <p>Don't have a student account? <a href="/SignUp">Sign up here</a></p>
        </div>
    </div>
</body>
</html>
